<!DOCTYPE html>
<html>
<head>
    <title>Translation App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Translation App</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'contribute_vocabulary' %}">Contribute Vocabulary</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'contribute_grammar_structure' %}">Contribute Grammar Structure</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'contribute_sentence_alignment' %}">Contribute Sentence Alignment</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'contribute_related_word' %}">Contribute Related Word</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'contribute_phrase' %}">Contribute Phrase</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'contribute_named_entity' %}">Contribute Named Entity</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'contribute_feedback' %}">Contribute Feedback</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'contribute_morphology' %}">Contribute Morphology</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'contribute_translation_memory' %}">Contribute Translation Memory</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'contribute_training_data' %}">Contribute Training Data</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'contribute_translation_error' %}">Contribute Translation Error</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'contribute_number' %}">Contribute Number</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'contribute_moderation' %}">Moderate Content</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'leaderboard' %}">Leaderboard</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'user_progress' %}">My Progress</a></li>
                </ul>
            </div>
        </nav>

        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>
